body {
    background-image: url("../img/trump.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #A5A4A2;
  }
  .password {
    font-size: 2em;
    text-align: center;
    color: #E39000;
    font-weight: bold;
    text-shadow: 2px 2px #7A4D00;
    margin-top: 160px
  }
    .error_message {
      color: red;
      font-weight: bold;
    }

  .note {
    font-size: .8em
  }
